//
// COLORS
//

$off-white: #fefcf4;
$warm-black: #1d170c;
$intense-red: #891b1b;
$pleasant-red: #dd273c;

//
// SIZES
//

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

//
// FONTS
//

$font-stack-sans: "ff-dax-compact-web-pro", "Lucida Grande", helvetica, arial, sans-serif;
$font-stack-serif: "ff-meta-serif-web-pro", georgia, serif;