@import "_variables.scss";

//
// BASE
//

html {
  font-size: 62.5%;
}

body {
  background-color: $off-white;
  color: $warm-black;
  font: 1.4rem/1.4 $font-stack-serif;
  padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
  color: $intense-red;
  font-family: $font-stack-sans;
}

.diams {
  position: relative;
  font-size: 85%;
  top: -.25em;
  color: $intense-red;
}


//
//  CONTEXT-SPECIFIC
//

header {
  .diams {
    color: lighten($warm-black, 40%);
  }
  text-align: center;
  letter-spacing: .2em;
  font-size: 2rem;
  text-transform: uppercase;
  h1 {
    font-size: 2.6em;
    margin: 2rem 0;
  }
  h3 {
    margin: 2rem 0;
    small {
      color: lighten($warm-black, 10%);
    }
  }
  h2 {
    margin: 3.2rem 0 0;
  }
  #logo {
    img {
      width: 100%;
      visibility: hidden;
    }
    display: inline-block;
    width: 30rem;
    max-width: 528px;
    background-image: url('../images/logo.png');
    background-size: cover;
  }
}